/* @keyframes slide-right {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slide-right {
    animation: slide-right 1s ease-in-out;
  } */
  
  @keyframes slide-right_1s_ease-in-out {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-slide-right_1s_ease-in-out {
    animation: slide-right_1s_ease-in-out 2s ease-in-out;
  }
  /* Add slide-in animation */

/* .slide-in {
    transform: translateX(100px);
    transition: transform 0.5s ease-out;
  }
  
  .slide-in.is-visible {
    transform: translateX(0); 
  } */