.blur-background {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(3px); /* Adjust the blur amount as needed */
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the background color and opacity as needed */
}
[data-click-close] {
  cursor: pointer;
}