.blur-background {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(3px); /* Adjust the blur amount as needed */
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the background color and opacity as needed */
}
[data-click-close] {
  cursor: pointer;
}
.tableContainer {
  display: block;
  width: 100%;
  height: 500px; /* Adjust according to your needs */
  overflow: auto;
 }
 
 .tableFixHead {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
 }
 
 .tableFixHead thead {
  width: 100%;
  display: table;
 }
 
 .tableFixHead tbody {
  width: 100%;
  display: block;
  overflow: auto;
  height: 500px; /* Adjust according to your needs */
 }
 