.button {
  position: relative;
  max-width: 275px;
  height: 275px;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
  /* Other styles */
}

.button:hover {
  transform: scale(1.1); /* Increase the scale value to adjust the magnification level */
}

.image-container {
  width: 100%;
  height: calc(100% - 20px); /* Adjust the height to leave space for the caption */
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
  /* Other styles */
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 14px;
  text-align: center;
  transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

.button:hover .caption {
  opacity: 0; /* Hide the caption on hover */
}
